<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hotel UI</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="container">
		<div class="image"> <a><img data-src="https://images.squarespace-cdn.com/content/v1/6074918f3b8ac050203258fd/f5e71e59-e01f-4985-b65f-c7b286570c35/G%26TG_Website_CHI.png"
			data-image="https://images.squarespace-cdn.com/content/v1/6074918f3b8ac050203258fd/f5e71e59-e01f-4985-b65f-c7b286570c35/G%26TG_Website_CHI.png"
			data-image-dimensions="2400x3600" data-image-focal-point="0.5,0.5"
			alt="Girl &amp; the Goat Chicago restaurant interior with tables and chairs" data-load="false"
			style="width: 100%; height: 100%; object-position: 50% 50%; object-fit: cover;" data-parent-ratio="0.7"
			class="" data-image-resolution="1500w"
			src="https://images.squarespace-cdn.com/content/v1/6074918f3b8ac050203258fd/f5e71e59-e01f-4985-b65f-c7b286570c35/G%26TG_Website_CHI.png?format=1500w"></a> </div>
		<div class="image"><a><img data-src="https://images.squarespace-cdn.com/content/v1/6074918f3b8ac050203258fd/517be5af-2db6-4930-86d7-ce95419aee51/G%26TG_Website_LA_Final+%281%29.png"
			data-image="https://images.squarespace-cdn.com/content/v1/6074918f3b8ac050203258fd/517be5af-2db6-4930-86d7-ce95419aee51/G%26TG_Website_LA_Final+%281%29.png"
			data-image-dimensions="2400x3600" data-image-focal-point="0.5,0.5"
			alt="Girl &amp; the Goat LA restaurant interior with tables and chairs" data-load="false"
			style="width: 100%; height: 100%; object-position: 50% 50%; object-fit: cover;" data-parent-ratio="0.7"
			class="" data-image-resolution="1500w"
			src="https://images.squarespace-cdn.com/content/v1/6074918f3b8ac050203258fd/517be5af-2db6-4930-86d7-ce95419aee51/G%26TG_Website_LA_Final+%281%29.png?format=1500w"></a></div>
	</div>
</body>

</html>