<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="logoNav" class="fixedBackgroundImg">
		<div class="logo_container_position">
			<a id="heading" href="/Users/shahadsuman/files/pythonPractice/Hotel_app_view/templates/index.html">
				<img src="/images/GGLA_Logos_Final_Horizontal.png" style="height:3em" alt="Girl and Goat">
			</a>
			<nav>
				<a class="links selected" href="#">Home</a>
				<a class="links" href="#">Menu</a>
				<a class="links" href="#"> Reservation</a>
				<a class="links" href="#">about</a>
				<a class="links" href="#">Private Events</a>
				<a class="links" href="#">Catering</a>
				<a class="links" href="#">Gift Cards</a>
			</nav>
		</div>
        
        <div class="booking_info">
            <h1>Make a Reservation</h1>
            <div>
                <input type="text" value="2 people">
                <input type="date" id="dateInput" value="">
                <input type="time" value="06:00">
            </div>
        </div>
        <div class="book_table">
            <h5>Find a Table</h5>
        </div>
	</div>
    <section class="last_section">
		<img src="/images/Footer_Background01.png" alt="">
		<div class="last_section_mailing">
			join us, and our mailing list!
			<div>
				<button>sign me up</button>
			</div>
			<h4 style="font-size: 25px;">Bring Chef Stephanie Izard’s bold, restaurant flavors home with <a href="#">This Little Goat!</a></h4>
			<p style="color: #696767;">© 2023 Boka Restaurant Group, LLC. All Rights Reserved
				<a href="#">| Accessibility | </a> 
				<a href="#">Privacy Policy</a>
				<a href="#"> | Site Map |</a>
				<a href="#">Employment </a>
				<a href="#">| Instagram | </a>
				<a href=""> Facebook</a>
			</p>

		</div>
		</div>

	</section>
    <script>
        const currentDate = new Date().toISOString().slice(0,10);
        document.getElementById("dateInput").value = currentDate;

        // const currentDate = new Date();
        // const formattedDate = currentDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });
        // document.getElementById("dateInput").value = formattedDate;
    </script>
</body>
</html>